body {
    overflow-x: hidden;
}
a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}
button {
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: inherit;
}
