.themes-buttons {
    text-align: center;
    @include padding-block-mixin(43.75, 18.75);
    @include padding-left-mixin(26.25, 11.25);
    @include padding-right-mixin(26.25, 11.25);
    &__button {
        position: relative;
        clip-path: polygon(0.71% 54%, 0.71% 49.09%, 0.71% 44.83%, 1% 40%, 1.29% 35.45%, 1.57% 32.82%, 2.43% 26.71%, 4% 19.42%, 5.71% 13.64%, 7.29% 9.09%, 9.71% 4.7%, 12.29% 1.82%, 15% 0.45%, 17.71% 3.79%, 20.57% 6.23%, 24.43% 8.22%, 33.29% 9.64%, 43% 10.88%, 49.86% 11.36%, 57% 10.91%, 67% 10%, 75.43% 8.18%, 79.57% 5.91%, 82.43% 3.64%, 85.14% 0.45%, 87.86% 1.82%, 90.43% 4.57%, 92.71% 8.64%, 94.43% 13.2%, 95.71% 17.61%, 96.71% 22.27%, 97.57% 26.36%, 98.29% 30.91%, 98.71% 35.07%, 99.14% 41.82%, 99.29% 49.36%, 99.14% 54.55%, 99% 59.09%, 98.57% 65.45%, 97.71% 71.36%, 96.86% 76.13%, 95.71% 81.45%, 94.29% 85.91%, 92.86% 89.82%, 90.43% 94.09%, 88% 96.82%, 85.14% 98.18%, 82.43% 95%, 79.57% 92.73%, 75.86% 90.91%, 66.71% 89.09%, 57.14% 87.88%, 50.14% 87.58%, 43% 87.73%, 33.29% 88.9%, 24.57% 90.73%, 20.57% 93.16%, 17.71% 95.78%, 15% 98.64%, 12.29% 97.27%, 10% 94.91%, 7.43% 90.07%, 5.71% 85.91%, 4.14% 80.9%, 2.43% 72.03%, 1.71% 66.82%, 1.14% 62.27%, 0.86% 58.47%);
        @include reset-button;
        @include background-image('../images/alpaca.jpg');
        @include background-image-set-jpg(
            '../images/alpaca.avif', 
            '../images/alpaca.webp', 
            '../images/alpaca.jpg', 
            '../images/alpaca-two.avif', 
            '../images/alpaca-two.webp', 
            '../images/alpaca-two.jpg'
        );
        background-color: var(--color-black-0);
        background-blend-mode: color;
        @include border-radius-mixin(43.75, 18.75);
        @include padding-block-mixin(17.5, 7.5);
        @include padding-left-mixin(43.75, 18.75);
        @include padding-right-mixin(43.75, 18.75);
        @include margin-block-mixin(0, 0);
        @include margin-left-mixin(17.5, 7.5);
        @include margin-right-mixin(17.5, 7.5);
        cursor: pointer;
        font-family: var(--font-family-regular);
        transition-duration: var(--transition-duration);
        @include width-mixin(245, 105);
        @include height-mixin(77, 33);
        @include text-mixin(24.5, 10.5);
        &::before {
            content: "";
            position: absolute;
            transition-duration: var(--transition-duration);
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: -1;
        }
        &_white {
            color: var(--color-white);
            &::before {
                background-color: var(--color-black-09);
            }
            @include hover {
                color: var(--color-black);
                &::before {
                    background-color: var(--color-white-075);
                }
            }
            @include tablet {
                @include hover {
                    color: var(--color-white);
                    &::before {
                        background-color: var(--color-black-09);
                    }
                }
            }
            &-active {
                color: var(--color-black);
                cursor: auto;
                &::before {
                    background-color: var(--color-white-075);
                }
                @include hover {
                    color: var(--color-black);
                    &::before {
                        background-color: var(--color-white-075);
                    }
                }
                @include tablet {
                    @include hover {
                        color: var(--color-black);
                        &::before {
                            background-color: var(--color-white-075);
                        }
                    }
                }
            }
        }
        &_blue {
            color: var(--color-blue);
            &::before {
                background-color: var(--color-black-09);
            }
            @include hover {
                color: var(--color-black);
                &::before {
                    background-color: var(--color-blue-075);
                }
            }
            @include tablet {
                @include hover {
                    color: var(--color-blue);
                    &::before {
                        background-color: var(--color-black-09);
                    }
                }
            }
            &-active {
                color: var(--color-black);
                cursor: auto;
                &::before {
                    background-color: var(--color-blue-075);
                }
                @include hover {
                    color: var(--color-black);
                    &::before {
                        background-color: var(--color-blue-075);
                    }
                }
                @include tablet {
                    @include hover {
                        color: var(--color-black);
                        &::before {
                            background-color: var(--color-blue-075);
                        }
                    }
                }
            }
        }
    }
}
